<template>
  <div class="home">
    <img src="../assets/soundflowbig.png"/>

  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style scoped>

  .h1 {
    : #9e9e9e;
  }
  .home {
    background-color: black;
    text-align: center;
  }
</style>
