<template>
  <div class="library">
    <section v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <div class="columns medium-3" v-for="result in results"  v-bind:key="result">
      <Track :name="result.name" :artist=result.username :age=result.creationDate :tag=result.genre :sampleId=result.id :location=result.sampleLocation :locationImage=result.imageLocation />
    </div>
  </div>
</template>

<script>
  import {KeycloakService} from "../ts/Auth";
  import Track from "../components/Track";

  export default {
    name: "Library",
    components: {Track},
    data() {
      return {
        results: [],
        errored: false
      }
    },
    created() {
      this.axios.get('/samples/byuser/' + KeycloakService.keycloak.profile.username).then(response => {
        this.results = response.data
      })
              .catch(error => {
                console.log(error)
                this.errored = true
              })
      console.log(this.results);
    }
  }
</script>

<style scoped></style>
