<template>
  <div class="full-width">
    <SplashScreen msg="Welcome to Soundflow" />
    <img class="middle-size-img" src="../assets/authentication.svg" />
    <p>
      Please login or register
    </p>
    <div class="client-form-btn-group">
      <button id="login-btn" class="button btn-primary" @click="login">
        Sign in
      </button>
      <button id="register-btn" class="button btn-primary" @click="register">
        Register
      </button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import SplashScreen from "@/components/SplashScreen.vue";
import Config from "@/ts/Config";
import { KeycloakService } from "@/ts/Auth";

export default {
  name: "LoginScreen",
  components: {
    SplashScreen
  },
  methods: {
    login() {
      KeycloakService.login({
        redirectUri: Config.keycloakConfig.redirectUri
      });
    },
    register() {
      KeycloakService.register();
    }
  }
};
</script>

<style lang="scss" scoped>
  .full-width {
    margin-top: 5%;
    background-color: #ffffff;
  }
</style>
