<template>
  <div>
    <section v-if="errored">
      <p>
        We're sorry, we're not able to retrieve this information at the moment,
        please try back later
      </p>
    </section>
    <Track
      :name="result.name"
      :artist="result.username"
      :age="result.creationDate"
      :tag="result.genre"
      :sampleId="sampleId"
      :location="result.sampleLocation"
      :locationImage="result.imageLocation"
    />
    <CommentSection :sampleId="sampleId" />
  </div>
</template>

<script>
import CommentSection from "../components/CommentSection";
import Track from "../components/Track";

export default {
  name: "Stream",
  components: {
    CommentSection,
    Track
  },
  data() {
    return {
      result: [],
      errored: false,
      sampleId: 0
    };
  },
  created() {
    this.sampleId = this.$route.params.id;
    this.getTrack();
  },
  // fix fact that get by samples only support username
  methods: {
    getTrack() {
      this.axios
        .get("/samples/" + this.sampleId)
        .then(response => {
          this.result = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        });
      console.log(this.result);
    }
  }
};
</script>

<style scoped></style>
