<template>
  <div>
    <Track :name="result.name" :artist=result.username :age=result.creationDate :tag=result.genre :trackId=result.id :location=result.sampleLocation :locationImage=result.imageLocation />
    <CommentSection :comments="trackId"/>
    <h4>Hello</h4>
  </div>
</template>

<script>
import Track from "@/components/Track.vue";
import CommentSection from "../components/CommentSection";

// make another post for the track by ID
export default {
  name: "TrackStream",
    components: {
      CommentSection,
      Track
    },
  data() {
    return {
      result: [],
      errored: false,
      sampleId: this.$route.params.id
    };
  },
  created() {
    this.getTrack();
  },
  methods: {
    getTrack(){
      this.axios.get('/comments/' + this.trackId).then(response => {
        this.result = response.data
      })
              .catch(error => {
                console.log(error)
                this.errored = true
              })
      console.log(this.result);
    }
  }
};
</script>
