<template>
  <div>
    <form class="vue-form" @submit.prevent="submit">
      <div v-if="this.submitted === false">
        <fieldset>
          <legend>Upload your tracks and samples here</legend>
          <label class="file-select">
            <!-- We can't use a normal button element here, as it would become the target of the label. -->
            <div class="select-button">
              <!-- Display the filename if a file has been selected. -->
              <span v-if="this.file">Selected File: {{ this.file.name }}</span>
              <span v-else>or choose sample file to upload</span>
            </div>
            <!-- Now, the file input that we hide. -->
            <input type="file" id="file" ref="file" @change="handleSampleUpload"
          /></label>
          <label class="file-select">
            <div class="select-button">
              <span v-if="this.imageFile"
                >Selected File: {{ this.imageFile.name }}</span
              >
              <span v-else>choose cover image to upload</span>
            </div>
            <input
              type="file"
              id="imageFile"
              ref="imageFile"
              @change="handleImageUpload"
          /></label>
          <div>
            <label class="label" for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              required=""
              v-model="name"
            />
            <label class="label" for="genre">Genre</label>
            <input
              type="text"
              name="genre"
              id="genre"
              required=""
              v-model="genre"
            />
          </div>
          <div>
            <h4>Privacy</h4>

            <ul class="vue-form-list">
              <li>
                <input
                  type="radio"
                  name="radio-1"
                  id="radio-1"
                  value="angular"
                  v-model="selection.framework"
                />
                <label for="radio-1">Public</label>
              </li>
              <li>
                <input
                  type="radio"
                  name="radio-2"
                  id="radio-2"
                  value="react"
                  v-model="selection.framework"
                />
                <label for="radio-2">Private</label>
              </li>
            </ul>
          </div>
          <div>
            <input type="submit" value="Upload" />
          </div>
          <span
            >Offer FLAC, WAV, ALAC or AIFF for the best audio quality. More
            information about HD without loss of quality.</span
          >
        </fieldset>
      </div>
      <h1 v-else>{{ this.requestStatus }}</h1>
    </form>
  </div>
</template>

<script>
import { KeycloakService } from "../ts/Auth";

export default {
  name: "Upload",
  data: function() {
    return {
      requestStatus: "File has been uploaded!",
      name: "",
      file: "",
      imageFile: "",
      username: "",
      genre: "",
      hidden: "false",
      length: "5",
      features: ["Reactivity", "Encapsulation", "Data Binding"],
      selection: {
        member: "0",
        framework: "vue",
        features: []
      },
      submitted: false
    };
  },
  methods: {
    submit: async function() {
      if (this.file === "") {
        alert("Please select a sample file!");
      } else if (this.imageFile === "") {
        alert("Please select an image file!");
      } else {
        console.log(KeycloakService.getUsername());
        const formData = new FormData();
        formData.append("file", this.file);
        formData.append("fileName", this.name);
        formData.append(
          "sampleUsername",
          KeycloakService.keycloak.profile.username
        );
        formData.append("sampleGenre", this.genre);
        formData.append("sampleHidden", this.hidden);
        formData.append("sampleLength", this.length);
        formData.append("imageFile", this.imageFile);
        this.axios
          .post("/samples", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(response => {
            if (response.status === 201) {
              this.submitted = true;
              this.requestStatus = "Your sample has been succesfully uploaded!";
            } else {
              this.requestStatus =
                "Oops, something went wrong!" + response.statusText;
              //console.log(response);
            }
            console.log(response);
          })
          .catch(error => console.log(error));
      }
    },
    // check or uncheck all
    checkAll: function(event) {
      this.selection.features = event.target.checked ? this.features : [];
    },
    handleSampleUpload() {
      if (this.$refs.file.files[0]["type"] !== "audio/mpeg") {
        alert("Please select a valid audio file!");
      } else {
        this.file = this.$refs.file.files[0];
        console.log(this.file);
      }
    },
    handleImageUpload() {
      if (this.$refs.imageFile.files[0]["type"] !== "image/jpeg") {
        alert("Please select a valid image file!");
      } else {
        this.imageFile = this.$refs.imageFile.files[0];
        console.log(this.imageFile);
      }
    }
  }
};
</script>

<style scoped>
.half-box {
  margin: 5%;
  border: 2px solid #f2f2f2;
}

.vue-form {
  font-size: 16px;
  width: 500px;
  padding: 15px 30px;
  border-radius: 4px;
  margin: 50px auto;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}
.vue-form fieldset {
  margin: 24px 0 0 0;
}
.vue-form legend {
  padding-bottom: 10px;
  border-bottom: 1px solid #ecf0f1;
}
.vue-form div {
  position: relative;
  margin: 20px 0;
}
.vue-form h4,
.vue-form .label {
  color: #94aab0;
  margin-bottom: 10px;
}
.vue-form .label {
  display: block;
}
.vue-form input,
.vue-form textarea,
.vue-form select,
.vue-form label {
  color: #2b3e51;
}
.vue-form input[type="text"],
.vue-form textarea,
.vue-form select,
.vue-form legend {
  display: block;
  width: 100%;
  appearance: none;
}
.vue-form input[type="text"],
.vue-form textarea,
.vue-form select {
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.vue-form input[type="text"]:focus,
.vue-form textarea:focus,
.vue-form select:focus {
  outline: none;
  border-color: #2c3e50;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.vue-form .select {
  position: relative;
}

.file-select > .select-button {
  padding: 1rem;
  color: white;
  background-color: #212121;
  border-radius: 0.3rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

/* Don't forget to hide the original file input! */
.file-select > input[type="file"] {
  display: none;
}
</style>
