<template>
  <div>
    <b-navbar fixed = "bottom" toggleable="lg" type="dark" variant="dark">
        <div class="items-center">
        <h7>Author: Hicham Laaboudi for Fontys Hogescholen ICT</h7>
        </div>
    </b-navbar>
  </div>
</template>

<script>
import { KeycloakService } from "@/ts/Auth";



export default {
  name: "AudioBar",
  mounted() {
    KeycloakService.callWhenAuth(() => {
      if (KeycloakService.isAuthenticated()) {
        this.isAuthenticated = false;
        this.username = "Hich";
      }
    });
  },
  data() {
    return {
      isAuthenticated: false,
      username: "kaas"
    };
  },
  methods: {
    logout() {
      KeycloakService.logout();
    }
  }
};
</script>
<style global lang="scss">

    h7 {
        color: white;
        font-weight: bold;
    }
    .items-center {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

</style>

