<template>
    <div class="track-details">
        <img src="@/assets/placeholder.png" class="smallimage">
        <span>ARTIST NAME</span>
        <br>
        <span>TRACK NAME</span>
    </div>
</template>

<script>
    export default {
        name: "AudioPlayerDetails"
    }
</script>

<style scoped>
    .track-details {
        padding: 0 8px;
        color: #ffffff;
        text-align: center;
    }

    .smallimage {
        margin-right: 5px;
    }
</style>