<template>
  <ul class="comment-section">
    <div class="comment_box">
      <b-form-input
        type="text"
        v-model="content"
        placeholder="Write a comment"
        @keydown.enter.native="sumbitComment"
      ></b-form-input>
    </div>

    <li
      class="comment user-comment"
      name="comment-section"
      id="comments"
      v-for="result in this.comments"
      @mouseover="upHere = true" @mouseleave="upHere = false"
      v-bind:key="result.id"
    >
      <div class="info">
        <a href="#">{{ result.username }}</a>
        <span>4 hours ago</span>
      </div>
      <a class="avatar" href="#">
        <img
          src="images/avatar_user_1.jpg"
          width="35"
          alt="Profile Avatar"
          :title="result.username"
        />
      </a>
      <p>{{ result.content }}</p>
      <button
        id="trashbutton"
        class="sf-button-delete"
        v-show="upHere"
        v-on:click="removeComment(result.id)"
      >
        <img src="../assets/trash.png" />
      </button>
    </li>
  </ul>
</template>

<script>
import { KeycloakService } from "../ts/Auth";

export default {
  name: "CommentSection",
  props: {
    date: {
      default: "4 hours ago"
    },
    avatar: {
      default: ""
    },
    sampleId: {
    }
  },
  data() {
    return {
      comments: [],
      errored: false,
      content: "",
      upHere: false
    };
  },
    mounted() {
     this.getComments();
  },
  methods: {
      getComments() {
        console.log("The sample id for the comments is:" + this.sampleId);
        this.axios
        .get("/comments/" + this.sampleId)
        .then(response => {
          this.comments = response.data;
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        });
      console.log(this.comments);
    },
    removeComment(id) {
      this.axios
        .delete("/comments/" + id)
        .then(response => {
          this.getComments();
          console.log(response);
        })
        .catch(error => console.log(error));
    },
    sumbitComment() {
      if (this.content === "") {
        alert("Please type a comment");
      } else {
        const formData = new FormData();
        formData.append("username", KeycloakService.keycloak.profile.username);
        formData.append("content", this.content);
        formData.append("sample_id", this.sampleId);
        this.axios
          .post("/comments/", formData, {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          })
          .then(response => {
            this.content = "";
            this.getComments();
            console.log(response);
          })
          .catch(error => console.log(error));
      }
    }
  }
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 13px sans-serif;
}

.comment-section {
  list-style: none;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
}

.comment {
  display: flex;
  border-radius: 3px;
  margin-bottom: 45px;
  flex-wrap: wrap;
}

.comment.user-comment {
  color: #808080;
  margin-top: 10px;
}

.comment.author-comment {
  color: #60686d;
  justify-content: flex-end;
}

/* User and time info */

.comment .info {
  width: 17%;
}

.comment.user-comment .info {
  text-align: right;
}

.comment.author-comment .info {
  order: 3;
}

.comment .info a {
  /* User name */
  display: block;
  text-decoration: none;
  color: #656c71;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 3px 0;
}

.comment .info span {
  /* Time */
  font-size: 11px;
  color: #9ca7af;
}

/* The user avatar */

.comment .avatar {
  width: 8%;
}

.comment.user-comment .avatar {
  padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar {
  order: 2;
  padding: 10px 3px 0 18px;
}

.comment .avatar img {
  display: block;
  border-radius: 50%;
}

.comment.user-comment .avatar img {
  float: right;
}

/* The comment text */

.comment p {
  line-height: 1.5;
  padding: 18px 22px;
  width: 50%;
  position: relative;
  word-wrap: break-word;
}

.comment.user-comment p {
  background-color: #f3f3f3;
}

.comment.author-comment p {
  background-color: #e2f8ff;
  order: 1;
}

.user-comment p:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  left: -8px;
  top: 18px;
}

.author-comment p:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #e2f8ff;
  right: -8px;
  top: 18px;
}

/* Comment form */

.write-new textarea {
  color: #444;
  font: inherit;

  outline: 0;
  border-radius: 3px;
  border: 1px solid #cecece;
  background-color: #fefefe;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;

  width: 100%;
  min-height: 80px;
  padding: 15px 20px;
}

.write-new img {
  border-radius: 50%;
  margin-top: 15px;
}

.write-new button {
  float: right;
  background-color: #87bae1;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  padding: 10px 25px;
  margin-top: 18px;
}

/* Responsive styles */

@media (max-width: 800px) {
  /* Make the paragraph in the comments take up the whole width,
        forcing the avatar and user info to wrap to the next line*/
  .comment p {
    width: 100%;
  }

  /* Reverse the order of elements in the user comments,
        so that the avatar and info appear after the text. */
  .comment.user-comment .info {
    order: 3;
    text-align: left;
  }

  .comment.user-comment .avatar {
    order: 2;
  }

  .comment.user-comment p {
    order: 1;
  }

  /* Align toward the beginning of the container (to the left)
        all the elements inside the author comments. */
  .comment.author-comment {
    justify-content: flex-start;
  }

  .comment-section {
    margin-top: 10px;
  }

  .comment .info {
    width: auto;
  }

  .comment .info a {
    padding-top: 15px;
  }

  .comment.user-comment .avatar,
  .comment.author-comment .avatar {
    padding: 15px 10px 0 18px;
    width: auto;
  }

  .comment.user-comment p:after,
  .comment.author-comment p:after {
    width: 12px;
    height: 12px;
    top: initial;
    left: 28px;
    bottom: -6px;
  }
}
</style>
