<template>
  <div class="full-width">
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#"><img src="../assets/soundflowlogo.png" /></b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item><router-link to="/home">Home</router-link></b-nav-item>
          <b-nav-item><router-link to="/Library">Library</router-link></b-nav-item>
          <b-nav-item><router-link to="/Upload">Upload</router-link></b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input
              size="sm"
              class="mr-sm-4"
              placeholder="Search"
            ></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit"
              >Search</b-button
            >
          </b-nav-form>

          <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">NL</b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>{{ username }}</em>
            </template>
            <b-dropdown-item><router-link to="/Library">Profile</router-link></b-dropdown-item>
            <b-dropdown-item v-on:click="logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { KeycloakService } from "@/ts/Auth";

export default {
  name: "NavBar",
   data() {
    return {
      isAuthenticated: false,
      username: "null"
    };
  },
  async mounted() {
    this.username = await KeycloakService.getUsername();
  },
  methods: {
    logout() {
      KeycloakService.logout();
    }
  }
};
</script>

<style lang="scss">

  a {
    color: #ffffff !important;
  }
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .items-center2 {
    margin-left: 30%;
  }
</style>

