<template>
  <div class="track-width">
  <div class="track-header">
    <div class="track-info">
      <img
        src="../assets/playbutton.svg"
        class="small-size-img"
        @click="wavesurfer.playPause(), addPLay()"
      />
      <div class="artist-name">
        <h2><span><router-link to="/home">{{ artist }}</router-link></span></h2>
        <h2><span><router-link to="/stream/1">{{ name }}</router-link></span></h2>
      </div>
      <div class="track-age">
        <h4>{{ age }}</h4>
        <h4><span>{{ tag }}</span></h4>
      </div>
    </div>
    <div class="track-header_artwork">
      <img :src=locationImage class="large-size-img" alt="track image" />
    </div>
  </div>
    <div class="statbar">
      <b-button @click="likeTrack">♥ Like</b-button>
      <b-button>Share</b-button>
      <b-button>Delete</b-button>
      <h4>♥{{ likeCount }}</h4>
      <h4>▶{{ playCount }}</h4>
    </div>
  </div>
</template>

<script>
import WaveSurfer from "wavesurfer.js";

export default {
  name: "Track",
  props: {
    name: {
      default: "TRACK NAME"
    },
    artist: {
      default: "username"
    },
    age: {
      type: String,
      default: "1 day"
    },
    tag: {
      type: String,
      default: "#Techno"
    },
    location: {
      type: String,
      default: "https://soundflowsamples.s3.amazonaws.com/alphamusic"
    },
    locationImage: {
      type: String,
      default: "https://soundflowsamplesimages.s3.amazonaws.com/alphamusic"
    },
    playCount: {
      type: Number,
      default: 0
    },
    sampleId: {
    }
  },
  data() {
      return {
      Track: {},
      stats: null,
      likeCount: 0,
      played: 0,
      wavesurfer: null,
      isLoading: false,
    };
  },
  created() {
    this.getStats();
  },
  async mounted() {
    if (!this.wavesurfer) this.createWaveSurfer();
  },
  methods: {
    createWaveSurfer() {
      this.wavesurfer = WaveSurfer.create({
        container: this.$el,
        hideScrollbar: true,
        barWidth: 3,
        barHeight: 3,
        fillParent: false,
        responsive: true
      });
      this.wavesurfer.load(
        this.location
      );
    },
    likeTrack() {
      console.log("the sampleid is:" + this.sampleId);
      this.axios
              .post("/statistics/likes/" + this.sampleId)
              .then(response => {
                this.result = response.data;
                this.getStats();
              })
              .catch(error => {
                console.log(error);
                this.errored = true;
              });
      console.log(this.result);
    },
    getStats() {
      console.log("The sample id for the stats is:" + this.sampleId);
      this.axios
              .get("/statistics/bysample/" + this.sampleId)
              .then(response => {
                this.stats = response.data[0];
                this.likeCount = this.stats.like_count;
                this.playCount = this.stats.play_count;
              })
              .catch(error => {
                console.log(error);
                this.errored = true;
              });
      console.log(this.stats);
    },
    addPLay() {
      if (this.played === 0) {
        this.axios
                .post("/statistics/plays/" + this.sampleId)
                .then(response => {
                  this.result = response.data;
                  this.getStats();
                  this.played = 1;
                })
                .catch(error => {
                  console.log(error);
                  this.errored = true;
                });
        console.log(this.result);
      }
    }
  },
  computed: {
    isPlaying() {
      if (!this.wavesurfer) return false;
      return this.wavesurfer.isPlaying();
    },
  }
};
</script>

<style scoped lang="scss">
.track-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0)
    linear-gradient(135deg, rgb(110, 110, 110) 0%, rgb(38, 38, 38) 100%) repeat
    scroll 0% 0%;
}

.track-control {

}

.track-header_artwork {
  margin: 2%;
  width: 25%;
  height: 25%;
  order: 1;

}

.track-info {
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  order: 0;
}

.track-info img {
  margin: 5%;
}

.waveform-box {
}

.track-info span {
  background-color: #212121;
}

.artist-name {
  text-align: left;
}

.track-age {
  text-align: right;
  margin-left: auto;
}

.statbar {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;}

.track-width {
  /*width: 100%;*/
}

.commentbox {

}

</style>
