<template>
  <div class="track-header">
    <div class="track-info">
      <img
        src="../assets/playbutton.svg"
        class="extra-small-size-img"
        @click="wavesurfer.playPause()"
      />
      <div class="artist-name">
        <h2><span>ALPHA</span></h2>
        <h2><span>I've Already Died A Thousand Times (Original Mix)</span></h2>
      </div>
      <div class="track-age">
        <h4>1 day ago</h4>
        <h4><span>#Techno</span></h4>
      </div>
    </div>
    <div id="waveform" class="waveform-box"></div>

    <div class="track-header_artwork">
      <img class="large-size-img " src="../assets/placeholderart.png" />
    </div>
  </div>
</template>

<script>
import WaveSurfer from "wavesurfer.js";

export default {
  name: "Track",
  props: {
    name: {
      type: String,
      default: "TRACK NAME"
    },
    artist: {
      type: String,
      default: "ARTIST NAME"
    },
    age: {
      type: String,
      default: "1 day"
    },
    tag: {
      type: String,
      default: "#Techno"
    },
    trackId: {
      type: Number,
      default: 0
    }
  },
  data() {
      return {
      Track: {},
      wavesurfer: null,
      isLoading: false,
    };
  },
  async mounted() {
    if (!this.wavesurfer) this.createWaveSurfer();
  },
  methods: {
    createWaveSurfer() {
      this.wavesurfer = WaveSurfer.create({
        container: "#waveform",
        hideScrollbar: true,
        barWidth: 2,
        barHeight: 3
      });
      this.wavesurfer.load(
        // "https://ia902606.us.archive.org/35/items/shortpoetry_047_librivox/song_cjrg_teasdale_64kb.mp3"
              "https://soundflowsamples.s3.amazonaws.com/ALPHA"
      );
    }
  },
  computed: {
    isPlaying() {
      if (!this.wavesurfer) return false;
      return this.wavesurfer.isPlaying();
    },
  }
};
</script>

<style scoped lang="scss">
.track-header {
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0)
    linear-gradient(135deg, rgb(110, 110, 110) 0%, rgb(38, 38, 38) 100%) repeat
    scroll 0% 0%;
}

.track-control {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.track-header_artwork {
  margin: 2%;
}

.track-info {
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.waveform-box {
  top: 44%;
  position: absolute;
  width: 45%;
}

.track-info span {
  background-color: #212121;
}

.artist-name {
  text-align: left;
}

.track-age {
  text-align: right;
}
</style>
