button,
.button {
  //height: var(--btn-height);
  white-space: nowrap;
  text-decoration: none;
  padding: var(--space-sm) var(--space-sm);
  border-radius: var(--btn-radius);
  border: 0;
  font-size: var(--text-sm);
  cursor: pointer;

  &:hover {
    background-color: initial;
  }

  &:active {
    background-color: var(--btn-primary-active);
  }

  &:visited {
    color: var(--btn-primary-label);
  }

  &:disabled {
    background-color: var(--btn-disabled-bg);
  }

  .full-width {
    width: 100%;
  }
}

.btn-primary {
  box-shadow: var(--drop-shadow);
  color: var(--color-text-inverse);
  margin: 3px;
  background-color: #343a40 !important;
}

.btn-secondary {
  background-color: var(--btn-secondary-bg);
  box-shadow: var(--drop-shadow);
  color: var(--btn-secondary-label) !important;
  border-color: var(--color-border);
  &:hover {
    color: var(--btn-secondary-label);
    background-color: var(--btn-secondary-hover);
  }

  &:active {
    background-color: var(--btn-secondary-active);
  }
}

.btn-side-menu {
  background-color: var(--color-menu-bg);
  color: var(--color-link);
  border-color: var(--color-border);

  &:visited {
    color: var(--btn-secondary-label);
  }

  &:hover {
    color: var(--btn-secondary-label);
    background-color: var(--btn-secondary-hover);
  }
}

.btn-flat {
  box-shadow: none !important;
}
