.list-item-primary {
  color: var(--color-text);
}

.list-item-secondary {
  color: var(--color-text-secondary);
  font-size: var(--text-sm);
}

.list-avatar-image {
  margin: 16px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.list-avatar-container {
  height: 100%;
}

.list-search-bar {
  width: 100%;
}

@import "./text-input.scss";
