:root {
  /* COLOURS */
  --color-primary: #000000; /*used for the links, the button background color, etc. In general, it’s the main call-to-action color.*/
  --color-primary-light: #794b9b;
  --color-primary-dark: #310064;
  --color-primary-bg: #ffffff;

  --color-accent: #b388ff; /*used to highlight something important on the page*/
  --color-accent-light: #e7b9ff;
  --color-accent-dark: #805acb;

  --black: #000000; /*generally a scale of grayscale tones, to be used for text elements, subtle elements, borders, etc.*/
  --gray-9: #212121;
  --gray-8: #424242;
  --gray-7: #616161;
  --gray-6: #757575;
  --gray-5: #9e9e9e;
  --gray-4: #bdbdbd;
  --gray-3: #e0e0e0;
  --gray-2: #eeeeee;
  --gray-1: #f5f5f5;
  --white: #ffffff;

  --color-good: #88c459; /*feedback colors */
  --color-alert: #f5414f;
  --color-warning: #ffd137;

  /* text colours */
  --color-text: var(--gray-9);
  --color-text-secondary: var(--gray-6);
  --color-text-inverse: var(--white);
  --color-text-heading: var(--black);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-link-light: var(--color-accent-light);
  --color-link-light-visited: var(--color-accent);
  /* border */
  --color-border: var(--gray-3);
  /* body */
  --color-body: var(--white);
  /* menu */
  --color-menu-bg: var(--gray-2);
  /* buttons */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);
  --btn-secondary-bg: var(--gray-3);
  --btn-secondary-hover: var(--gray-1);
  --btn-secondary-active: var(--gray-4);
  --btn-secondary-label: var(--gray-8);

  /* HEIGHTS AND SPACING */
  --navbar-height: 60px;
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));

  /* TYPOGRAPHY */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --text-base-size: 1em;
  --text-scale-ratio: 1.1;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* BUTTONS */
  --btn-radius: 0.25em;

  /* Shade */
  --drop-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --drop-shadow-bottom: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);

  --btn-height: 36px;

  /* Side menu */
  --side-menu-size: 10rem;
}

.text-secondary {
  color: var(--color-text-secondary);
}

html {
  color: var(--color-text);
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  line-height: 1.4;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.h1,
.h2,
h1,
h2 {
  font-family: var(--font-secondary);
}

.hidden {
  display: none !important;
}

.disabled {
  color: var(--gray-9);
  background-color: var(--gray-2);
  border-color: var(--color-border);
  cursor: default;

  &:visited {
    color: var(--gray-9);
    background-color: var(--gray-2);
  }

  &:hover {
    color: var(--gray-9);
    background-color: var(--gray-2);
  }

  &:active {
    color: var(--gray-9);
    background-color: var(--gray-2);
  }
}

.btn-login a {
  @media screen and (min-width: 576px) {
    background-color: var(--color-accent-dark);
    padding: 2px 2rem;
    border-radius: 12px;
    &:hover {
      background-color: var(--color-primary-dark);
    }
  }
}

.small-size-img {
  @media screen and (max-width: 576px) {
    width: 80%;
    height: 80%;
  }
  @media screen and (min-width: 576px) {
    width: 40%;
    height: 40%;
  }
}


.extra-small-size-img {
  @media screen and (max-width: 576px) {
    width: 40%;
    height: 40%;
  }
  @media screen and (min-width: 576px) {
    width: 24%;
    height: 24%;
  }
}
.small-size-img {
  @media screen and (max-width: 576px) {
    width: 80%;
    height: 80%;
  }
  @media screen and (min-width: 576px) {
    width: 40%;
    height: 40%;
  }
}

.middle-size-img {
  @media screen and (max-width: 576px) {
    width: 80%;
    height: 80%;
  }
  @media screen and (min-width: 576px) {
    width: 35%;
    height: 35%;
  }
}

.large-size-img {
  @media screen and (max-width: 576px) {
    width: 70%;
    height: 70%;
  }
  @media screen and (min-width: 576px) {
    width: 100%;
    height: 100%;
  }
}

.feather {
  width: 24px;
  height: 24px;
}

.bg-login {
  height: 100%;
  width: 100%;
  background-color: var(--color-menu-bg);
  border-top: 4px solid var(--color-accent-dark);
  text-align: center;
  padding-top: 5rem;
}

.feather-refresh-cw {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clickable {
  cursor: pointer;
}
