input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 16px;
  height: 48px;
  width: 100%;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: var(--btn-radius);
  box-shadow: none;

  &:focus {
    border: 2px solid var(--color-primary-light);
    text-indent: 15px;

    &::placeholder {
      color: transparent;
    }
  }
}
