<template>
  <div id="app">
    <NavBar v-if="isAuthenticated"></NavBar>
    <AudioBar v-if="isAuthenticated"></AudioBar>
    <router-view />
  </div>
</template>

<script>
import "@/css/button.scss";
import "bootstrap-vue/esm/components";
import NavBar from "@/components/NavBar";
import AudioBar from "@/components/AudioBar";
import { KeycloakService } from "@/ts/Auth";
import Eventbus from "@/ts/Eventbus";


export default {
  components: { NavBar, AudioBar },
  data() {
    return {
      isAuthenticated: false,
      color: '#673AB7',
    };
  },
  mounted() {
    KeycloakService.callWhenAuth(() => {
      if (KeycloakService.isAuthenticated()) {
        this.isAuthenticated = true;
      }
    });
  },
};
</script>

<style global lang="scss">
@import "./css/button.scss";
#app {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin-left: 13%;
  margin-right: 13%;
  font-style: normal;
  font-weight: 100;

}
  body {
    background-color: #F2F2F2 !important;
  }
  a {
    color: #d7d7d7 !important
  }
</style>
